@import '../../styles/constants';
@import '../../styles/mixins/border';

.MenuDropDownContainer {
    position: relative;
    background-color: grey;
    width: 100px; // styles that should be specify at initialisation of component
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: $din;
    font-size: $h5;
    font-weight: $fontMedium;
    color: white;
}

.dropDown_c {
    position: absolute;
    top: 100%;
    left: 0;

    span {
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    ul {

    }

    &.open {
        display: block;
        visibility: visible;
    }

    &.closed {
        display: none;
        visibility: hidden;
    }
}

.MenuDropDownOptionItemContainer,
.MenuDropDownItemContainer {
    .item-title {
        font-size: medium;
        text-align: center;
        vertical-align: middle;
    }
}

.MenuDropDownItemContainer {
    position: relative;
    background-color: grey;
    width: 100px;
    height: 40px;
    line-height: 40px;

    .item-hint_c {
        position: absolute;
        top: 0;
        left: 100%;
        width: 250px;
        height: inherit;
        color: $greyBlack;
        background-color: white;

        p {
            text-align: left;
            font-size: 16px;
            padding: 0;
        }
    }
}

.MenuDropDownOptionItemContainer {
    position: relative;
    background-color: grey;
    width: 100px;
    height: 40px;
    line-height: 40px;

    .item-option-list {
        position: relative;
        top: -100%;
        left: 100%;
    }
}

.MenuDropDownItemDeviderContainer {
    width: 100%;
    height: 2px;
    background-color: white;
}